p= t("notifier.email-templates.law-commented.hello", { name: participant.firstName })

p= t("notifier.email-templates.law-commented.title", { lawTitle: law.mediaTitle })

p=comment.text

p= t("notifier.email-templates.law-commented.by", { author: comment.author.fullName })